.app {
}

.container {
	max-width: 1120px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
}

.header {
	display: block;

	box-shadow: 0 1px 15px 3px rgba(45, 45, 45, 0.1);
	background: #fff;
}

.headerBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;

	min-height: 100px;
}

.block {
	display: flex;
	align-items: center;
	gap: 25px;
}
.block:nth-child(2) {
	gap: 20px;
}

.logo {
	display: flex;

	max-width: 167px;
	max-height: 50px;
}
.logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.orderBlock {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5px;

	color: #2d2d2d;
	text-decoration: none;
}
.phone {
	color: #2d2d2d;
	font-weight: 600;
}
.text {
	color: #fda340;
	font-weight: 500;
}

.account {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;

	background: #fda340;
	border-radius: 50px;
}
.account svg {
	width: 30px;
	height: 30px;
}
.account svg path {
	fill: #fff;
}
.cart {
	height: 50px;
	padding: 0 30px;

	color: #fff;
	background: #fda340;
	border-radius: 50px;
}

/* MAIN */

main {
}
.hero {
}
.heroBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;

	padding-top: 30px;
}

.categories {
	display: flex;
	justify-content: center;
}
.categoriesList {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;

	font-size: 15px;
	font-weight: 500;
	color: #2d2d2d;
}
.category {
}
.categoryLink {
	color: inherit;
	font-weight: inherit;

	transition: 0.1s ease-in-out;
}
.categoryLink:hover {
	color: #fda340;
}

.heroImage {
	display: flex;
	align-items: center;
	justify-content: center;

	max-height: 370px;

	border-radius: 50px;
	overflow: hidden;
}
.heroImage img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 50px;
}

.carouselBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.title {
	font-size: 24px;
	font-weight: 700;

	color: #2d2d2d;
}
.carousel {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}
.images {
	display: flex;
	gap: 15px;
}
.item {
	position: relative;

	display: flex;
}
.item:hover .overlay {
	opacity: 1;
}
.imageBlock {
	display: flex;

	width: 100%;
	height: 100%;

	border-radius: 25px;
	overflow: hidden;
}
.imageBlock img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 25px;
}
.overlay {
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	padding: 18px;

	font-size: 18px;
	font-weight: 700;
	text-align: center;

	color: #fff;

	background: rgba(45, 45, 45, 0.75);
	border-radius: 25px;

	opacity: 0;
	transition: 0.1s ease-in-out;
}
.name {
}

.buttons {
	position: absolute;
	top: calc(50% - 30 / 2);

	display: flex;
	justify-content: space-between;

	width: calc(100% + 30px);
}
.button {
	position: absolute;
	right: -15px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 30px;
	height: 30px;

	background: #fff;
	border-radius: 50%;

	transition: 0.1s ease-in-out;
}

.button:hover {
	box-shadow: 0 0 5px 1px rgba(45, 45, 45, 0.15);
}
.button:nth-child(2) {
	left: -15px;
}
.button svg {
	width: 16px;
	height: 16px;
}
.button path {
}
