.app {
}

.container {
	max-width: 1120px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
}

.header {
	display: block;

	box-shadow: 0 1px 15px 3px rgba(45, 45, 45, .1);
	background: #fff;
}

.headerBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;

	min-height: 100px;
}

.block {
	display: flex;
	align-items: center;
	gap: 25px;
}
.block:nth-child(2) {
	gap: 20px;
}

.logo {
	display: flex;

	max-width: 167px;
	max-height: 50px;
}
.logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.orderBlock {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5px;

	color: #2d2d2d;
	text-decoration: none;
}
.phone {
	color: #2d2d2d;
	font-weight: 600;
}
.text {
	color: #fda340;
	font-weight: 500;
}

.account {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;

	background: #fda340;
	border-radius: 50px;
}
.account svg {
	width: 30px;
	height: 30px;
}
.account svg path {
	fill: #fff;
}
.cart {
	height: 50px;
	padding: 0 30px;

	color: #fff;
	background: #fda340;
	border-radius: 50px;
}
