/* MAIN */

main {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.hero {
}
.heroBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;

	padding-top: 30px;
}

.categories {
	display: flex;
	justify-content: center;
}
.categoriesList {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;

	font-size: 15px;
	font-weight: 500;
	color: #2d2d2d;
}
.category {
}
.categoryLink {
	color: inherit;
	font-weight: inherit;

	transition: 0.1s ease-in-out;
}
.categoryLink:hover {
	color: #fda340;
}

.heroImage {
	display: flex;
	align-items: center;
	justify-content: center;

	max-height: 370px;

	border-radius: 50px;
	overflow: hidden;
}
.heroImage img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 50px;
}

.carouselBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.title {
	font-size: 24px;
	font-weight: 700;

	color: #2d2d2d;
}
.carousel {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}
.images {
	display: flex;
	gap: 15px;
}
.item {
	position: relative;

	display: flex;
}
.item:hover .overlay {
	opacity: 1;
}
.imageBlock {
	display: flex;

	width: 100%;
	height: 100%;

	border-radius: 25px;
	overflow: hidden;
}
.imageBlock img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 25px;
}
.overlay {
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	padding: 18px;

	font-size: 18px;
	font-weight: 700;
	text-align: center;

	color: #fff;

	background: rgba(45, 45, 45, 0.75);
	border-radius: 25px;

	opacity: 0;
	transition: 0.1s ease-in-out;
}
.name {
}

/* Content Section */
.content {
}
.contentBlock {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}
.titleBlock {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.title {
}
.sortBlock {
	display: flex;
	align-items: center;
	gap: 10px;

	color: #2d2d2d;
}
.sortBlock span {
}
.sortList {
	min-width: 140px;
	min-height: 30px;

	padding: 0 15px;

	border: none;
	outline: none;
	background: rgba(45, 45, 45, 0.15);

	cursor: pointer;
	border-radius: 11px;

	appearance: none;
}
.sortList::-ms-expand {
	display: none;
}
.sortList option {
}
.dishes {
	display: flex;
	flex-wrap: wrap;

	gap: 15px;
}
.dishItem {
	flex: 0 0 calc(25% - (45px / 4));

	display: flex;
	flex-direction: column;

	gap: 15px;
	padding: 15px;

	color: #2d2d2d;
	background: #fff;
	border-radius: 25px;

	transition: 0.1 ease-in-out;
}
.dishItem:hover {
	box-shadow: 0 0 15px 1px rgba(45, 45, 45, 0.1);
}
.imageBlock {
}
.dishItem .imageBlock {
	border-radius: 20px;
}
.dishItem .imageBlock img {
	border-radius: 20px;
}
.descriptionBlock {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 15px;

	padding: 0 15px;
}
.descriptionBlock .name {
	font-size: 16px;
	font-weight: 700;
	color: inherit;
}
.descriptionBlock hr {
	width: 100%;
	height: 1px;
	background: rgba(45, 45, 45, 0.15);
}
.description {
	display: flex;
	justify-content: space-between;

	width: 100%;

	font-weight: 500;
}
.weight {
	color: rgba(45, 45, 45, 0.5);
}
.price {
}
.dishButton {
	padding: 13px 0;
	border: 2px solid #fda340;
	border-radius: 14px;

	color: #fda340;
	background: transparent;

	transition: 0.1s ease-in-out;
}
.dishButton:hover {
	color: #fff;
	background: #fda340;
}
.contentButton {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 15px 30px;

	height: 46px;

	font-size: 14px;
	color: #2d2d2d;
	font-weight: 700;

	border-radius: 14px;
	border: 2px solid transparent;

	transition: 0.1s ease-in-out;
}
.contentButton:hover {
	color: #fff;
	background: rgba(45, 45, 45);
}
