.account {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;

	background: #fda340;
	border-radius: 50px;
}
.account svg {
	width: 30px;
	height: 30px;
}
.account svg path {
	fill: #fff;
}
.cart {
	height: 50px;
	padding: 0 30px;

	color: #fff;
	background: #fda340;
	border-radius: 50px;
}

.carouselButton {
	position: absolute;
	right: -15px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 30px;
	height: 30px;

	background: #fff;
	border-radius: 50%;

	transition: 0.1s ease-in-out;
}

.carouselButton:hover {
	box-shadow: 0 0 5px 1px rgba(45, 45, 45, 0.15);
}
.carouselButton:nth-child(2) {
	left: -15px;
}
.carouselButton svg {
	width: 16px;
	height: 16px;
}

.contentButton {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 15px 30px;

	height: 46px;

	font-size: 14px;
	color: #2d2d2d;
	font-weight: 700;

	border-radius: 14px;
	border: 2px solid transparent;

	transition: 0.1s ease-in-out;
}
.contentButton:hover {
	color: #fff;
	background: rgba(45, 45, 45);
}
