.carouselBlock {
}
.carouselBlock > *:not(:last-child) {
	margin-bottom: 30px;
}
.carousel {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}
.carouselOverflow {
	overflow: hidden;
}
.images {
	display: flex;
	gap: 15px;
}
