.item {
	flex: 0 0 calc(20% - (60px / 5));

	position: relative;

	display: flex;
}
.item:hover .overlay {
	opacity: 1;
}
.imageBlock {
	display: flex;

	width: 100%;
	height: 100%;

	border-radius: 25px;
	overflow: hidden;
}
.imageBlock img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 25px;
}
.overlay {
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	padding: 18px;

	font-size: 18px;
	font-weight: 700;
	text-align: center;

	color: #fff;

	background: rgba(45, 45, 45, 0.75);
	border-radius: 25px;

	opacity: 0;
	transition: 0.1s ease-in-out;
}
.name {
}
