.dishItem {
	flex: 0 0 calc(25% - (45px / 4));

	display: flex;
	flex-direction: column;

	gap: 15px;
	padding: 15px;

	min-height: 300px;

	color: #2d2d2d;
	background: #fff;
	border-radius: 25px;

	transition: 0.1s ease-in-out;
}
.dishItem:hover {
	box-shadow: 0 0 15px 1px rgba(45, 45, 45, 0.1);
}
.imageBlock {
}
.dishItem .imageBlock {
	border-radius: 20px;
}
.dishItem .imageBlock img {
	border-radius: 20px;
}
.descriptionWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}
.descriptionBlock {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;

	height: 100%;

	padding: 0 15px;
}
.descriptionBlock .name {
	font-size: 16px;
	font-weight: 700;
	color: inherit;
}
.descriptionBlock hr {
	width: 100%;
	height: 1px;
	background: rgba(45, 45, 45, 0.15);
}
.description {
	display: flex;
	justify-content: space-between;
	gap: 30px;

	width: 100%;

	font-weight: 500;
}
.weight {
	color: rgba(45, 45, 45, 0.5);
}
.priceBlock {
	display: flex;
	flex-direction: column;
}
.price {
}
.priceOutdated {
	position: relative;

	display: block;
	color: rgba(45, 45, 45, 0.5);
}
.priceOutdated::before {
	position: absolute;
	top: 50%;

	display: block;

	width: 100%;
	height: 2px;

	content: "";
	background: hwb(0 0% 0%);
}