.dishItem {
	flex: 0 0 calc(25% - (45px / 4));

	display: flex;
	flex-direction: column;

	gap: 15px;
	padding: 15px;

  min-height: 300px;

	color: #2d2d2d;
	background: #fff;
	border-radius: 25px;

	transition: 0.1 ease-in-out;
}
.dishItem:hover {
	box-shadow: 0 0 15px 1px rgba(45, 45, 45, 0.1);
}
.imageBlock {
}
.dishItem .imageBlock {
	border-radius: 20px;
}
.dishItem .imageBlock img {
	border-radius: 20px;
}
.descriptionBlock {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 15px;

	padding: 0 15px;
}
.descriptionBlock .name {
	font-size: 16px;
	font-weight: 700;
	color: inherit;
}
.descriptionBlock hr {
	width: 100%;
	height: 1px;
	background: rgba(45, 45, 45, 0.15);
}
.description {
	display: flex;
	justify-content: space-between;

	width: 100%;

	font-weight: 500;
}
.weight {
	color: rgba(45, 45, 45, 0.5);
}
.price {
}
.dishButton {
	padding: 13px 0;
	border: 2px solid #fda340;
	border-radius: 14px;

	color: #fda340;
	background: transparent;

	transition: 0.1s ease-in-out;
}
.dishButton:hover {
	color: #fff;
	background: #fda340;
}
