.heroImage {
	display: flex;
	align-items: center;
	justify-content: center;

	max-height: 370px;

	border-radius: 50px;
	overflow: hidden;
}
.heroImage img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 50px;
}
