.hero {
}
.heroBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;

	padding-top: 30px;
}

.categories {
	display: flex;
	justify-content: center;
}
.categoriesList {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;

	font-size: 15px;
	font-weight: 500;
	color: #2d2d2d;
}
.category {
}
.categoryLink {
	color: inherit;
	font-weight: inherit;

	transition: 0.1s ease-in-out;
}
.categoryLink:hover {
	color: #fda340;
}

.heroImage {
	display: flex;
	align-items: center;
	justify-content: center;

	max-height: 370px;

	border-radius: 50px;
	overflow: hidden;
}
.heroImage img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 50px;
}

.carouselBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.title {
	font-size: 24px;
	font-weight: 700;

	color: #2d2d2d;
}
.carousel {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}
.images {
	display: flex;
	gap: 15px;
}
.item {
	position: relative;

	display: flex;
}
.item:hover .overlay {
	opacity: 1;
}
.imageBlock {
	display: flex;

	width: 100%;
	height: 100%;

	border-radius: 25px;
	overflow: hidden;
}
.imageBlock img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 25px;
}
.overlay {
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	padding: 18px;

	font-size: 18px;
	font-weight: 700;
	text-align: center;

	color: #fff;

	background: rgba(45, 45, 45, 0.75);
	border-radius: 25px;

	opacity: 0;
	transition: 0.1s ease-in-out;
}
.name {
}
