@import url("./assets/fonts.css");
@import url("./assets/reset.css");

:root {
	font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;
}

body {
	background-color: #f8f9f5;
}
