.loginModal {
	position: relative;

	display: flex;
	align-items: center;
	flex-direction: column;

	min-width: 380px;

	padding: 30px 30px 20px;

	border-radius: 25px;
	background: #2d2d2d;
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.content {
	display: flex;
	flex-direction: column;
	gap: 15px;

	width: 100%;

	margin-bottom: 15px;
}
.content label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	gap: 12px;

	width: 100%;

	font-weight: 500;
}
.content input {
	width: 100%;
	height: 46px;

	padding: 7px 12px;

	color: #2d2d2d;

	outline: none;
	background: #fff;
	border-radius: 14px;
	border: 2px solid transparent;

	transition: 0.1s ease-in-out;
}
.content input:focus {
	border-color: #fda340;
}
